[defaults]
inventory = ansible/inventory.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
local_tmp = /tmp/ansible
collections_path = /tmp/ansible/collections
roles_path = ansible/roles
forks = 1
strategy = linear
