services:
  freshrss:
    image: freshrss/freshrss:latest
    container_name: freshrss
    restart: unless-stopped
    ports:
      - "{{ config.freshrss.port }}:80"
    environment:
      TZ: "{{ config.homelab.timezone }}"
      CRON_MIN: "5"
    volumes:
      - ./data:/var/www/FreshRSS/data
