services:
  proxy:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    environment:
      - TZ=America/Los_Angeles
      - INITIAL_ADMIN_EMAIL={{ config.npm.admin_email }}
      - INITIAL_ADMIN_PASSWORD={{ npm_admin_password }}
    volumes:
      - /docker/nginx-proxy-manager:/data
      - /docker/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
