services:
  prowlarr:
    image: "{{ config.media_stack.apps.prowlarr.image }}"
    container_name: prowlarr
    restart: unless-stopped
    sysctls:
      net.ipv6.conf.all.disable_ipv6: "1"
      net.ipv6.conf.default.disable_ipv6: "1"
    environment:
      TZ: "{{ config.homelab.timezone }}"
      PUID: "{{ config.media_stack.shared_ids.uid }}"
      PGID: "{{ config.media_stack.shared_ids.gid }}"
    ports:
      - "{{ config.media_stack.apps.prowlarr.port }}:9696"
    volumes:
      - "{{ config.media_stack.paths.host.appdata_base }}/prowlarr:/config"

  sonarr:
    image: "{{ config.media_stack.apps.sonarr.image }}"
    container_name: sonarr
    restart: unless-stopped
    environment:
      TZ: "{{ config.homelab.timezone }}"
      PUID: "{{ config.media_stack.shared_ids.uid }}"
      PGID: "{{ config.media_stack.shared_ids.gid }}"
    ports:
      - "{{ config.media_stack.apps.sonarr.port }}:8989"
    volumes:
      - "{{ config.media_stack.paths.host.appdata_base }}/sonarr:/config"
      - "{{ config.media_stack.paths.host.data_base }}:{{ config.media_stack.paths.container.data_base }}"

  radarr:
    image: "{{ config.media_stack.apps.radarr.image }}"
    container_name: radarr
    restart: unless-stopped
    environment:
      TZ: "{{ config.homelab.timezone }}"
      PUID: "{{ config.media_stack.shared_ids.uid }}"
      PGID: "{{ config.media_stack.shared_ids.gid }}"
    ports:
      - "{{ config.media_stack.apps.radarr.port }}:7878"
    volumes:
      - "{{ config.media_stack.paths.host.appdata_base }}/radarr:/config"
      - "{{ config.media_stack.paths.host.data_base }}:{{ config.media_stack.paths.container.data_base }}"

  bazarr:
    image: "{{ config.media_stack.apps.bazarr.image }}"
    container_name: bazarr
    restart: unless-stopped
    environment:
      TZ: "{{ config.homelab.timezone }}"
      PUID: "{{ config.media_stack.shared_ids.uid }}"
      PGID: "{{ config.media_stack.shared_ids.gid }}"
    ports:
      - "{{ config.media_stack.apps.bazarr.port }}:6767"
    volumes:
      - "{{ config.media_stack.paths.host.appdata_base }}/bazarr:/config"
      - "{{ config.media_stack.paths.host.data_base }}:{{ config.media_stack.paths.container.data_base }}"

  tdarr:
    image: "{{ config.media_stack.apps.tdarr.image }}"
    container_name: tdarr
    restart: unless-stopped
    environment:
      TZ: "{{ config.homelab.timezone }}"
      PUID: "{{ config.media_stack.shared_ids.uid }}"
      PGID: "{{ config.media_stack.shared_ids.gid }}"
      UMASK_SET: "002"
      serverIP: "0.0.0.0"
      serverPort: "{{ config.media_stack.apps.tdarr.server_port }}"
      webUIPort: "8265"
      internalNode: "false"
      inContainer: "true"
      ffmpegVersion: "7"
      nodeName: "MediaStackTdarrServer"
      auth: "false"
      openBrowser: "false"
      maxLogSizeMB: "10"
    ports:
      - "{{ config.media_stack.apps.tdarr.port }}:8265"
      - "{{ config.media_stack.apps.tdarr.server_port }}:8266"
    volumes:
      - "{{ config.media_stack.paths.host.appdata_base }}/tdarr/server:/app/server"
      - "{{ config.media_stack.paths.host.appdata_base }}/tdarr/configs:/app/configs"
      - "{{ config.media_stack.paths.host.appdata_base }}/tdarr/logs:/app/logs"
      - "{{ config.media_stack.paths.host.media_base }}:/media"
      - "{{ config.media_stack.paths.host.data_base }}/tdarr/cache:{{ config.media_stack.paths.container.tdarr_cache }}"

  tdarr-node:
    image: "{{ config.media_stack.apps.tdarr.node_image }}"
    container_name: tdarr-node
    restart: unless-stopped
    network_mode: "service:tdarr"
    depends_on:
      - tdarr
    environment:
      TZ: "{{ config.homelab.timezone }}"
      PUID: "{{ config.media_stack.shared_ids.uid }}"
      PGID: "{{ config.media_stack.shared_ids.gid }}"
      UMASK_SET: "002"
      nodeName: "MediaStackTdarrCpuNode"
      serverURL: "http://127.0.0.1:8266"
      inContainer: "true"
      ffmpegVersion: "7"
      nodeType: "mapped"
      priority: "-1"
      maxLogSizeMB: "10"
      pollInterval: "2000"
      startPaused: "true"
      transcodegpuWorkers: "0"
      transcodecpuWorkers: "1"
      healthcheckgpuWorkers: "0"
      healthcheckcpuWorkers: "1"
    volumes:
      - "{{ config.media_stack.paths.host.appdata_base }}/tdarr/configs:/app/configs"
      - "{{ config.media_stack.paths.host.appdata_base }}/tdarr/logs:/app/logs"
      - "{{ config.media_stack.paths.host.media_base }}:/media"
      - "{{ config.media_stack.paths.host.data_base }}/tdarr/cache:{{ config.media_stack.paths.container.tdarr_cache }}"

  cleanuparr:
    image: "{{ config.media_stack.apps.cleanuparr.image }}"
    container_name: cleanuparr
    restart: unless-stopped
    environment:
      TZ: "{{ config.homelab.timezone }}"
      PORT: "{{ config.media_stack.apps.cleanuparr.port }}"
      PUID: "{{ config.media_stack.shared_ids.uid }}"
      PGID: "{{ config.media_stack.shared_ids.gid }}"
      UMASK: "022"
      BASE_PATH: ""
    ports:
      - "{{ config.media_stack.apps.cleanuparr.port }}:{{ config.media_stack.apps.cleanuparr.port }}"
    volumes:
      - "{{ config.media_stack.paths.host.appdata_base }}/cleanuparr:/config"
