VPN_SERVICE_PROVIDER={{ config.media_stack.apps.gluetun.provider | default('') }}
VPN_TYPE={{ config.media_stack.apps.gluetun.vpn_type | default('openvpn') }}
OPENVPN_USER={{ gluetun_openvpn_user | default('') }}
OPENVPN_PASSWORD={{ gluetun_openvpn_password | default('') }}
WIREGUARD_PRIVATE_KEY={{ gluetun_wireguard_private_key | default('') }}
WIREGUARD_ADDRESSES={{ gluetun_wireguard_addresses | default('') }}
SERVER_COUNTRIES={{ (config.media_stack.apps.gluetun.server_countries | default([])) | join(',') }}
