# Managed by Ansible. Local changes will be overwritten.

define command {
  command_name check_http_npm
  command_line /usr/lib/nagios/plugins/check_http -I $ARG2$ -H $ARG1$ -S --sni -P 443 -j GET
}

define command {
  command_name check_http_npm_path
  command_line /usr/lib/nagios/plugins/check_http -I $ARG2$ -H $ARG1$ -S --sni -P 443 -u $ARG3$ -j GET
}

define command {
  command_name check_dns_adguard
  command_line /usr/lib/nagios/plugins/check_dns -s $ARG1$ -H $ARG2$
}

define command {
  command_name check_tcp_port
  command_line /usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p $ARG2$
}

define command {
  command_name check_raffle_raptor_healthz
  command_line /usr/local/nagios/libexec/check_raffle_raptor.py --mode healthz --base-url '$ARG1$' --target-ip '$ARG2$' --timeout 8
}

define command {
  command_name check_raffle_raptor_statusz
  command_line /usr/local/nagios/libexec/check_raffle_raptor.py --mode statusz --base-url '$ARG1$' --target-ip '$ARG2$' --timeout 8 --success-fresh-minutes 15 --startup-grace-minutes 0
}

define command {
  command_name notify-host-by-discord
  command_line /usr/local/bin/nagios-discord.sh host $HOSTNAME$ $HOSTSTATE$ "$HOSTOUTPUT$"
}

define command {
  command_name notify-service-by-discord
  command_line /usr/local/bin/nagios-discord.sh service $HOSTNAME$ "$SERVICEDESC$" $SERVICESTATE$ "$SERVICEOUTPUT$"
}

{% for host in config.nagios.hosts %}
define host {
  use                     linux-server
  host_name               {{ host.name }}
  alias                   {{ host.name | replace('-', ' ') }}
  address                 {{ host.address }}
  contact_groups          admins
}
{% endfor %}

{% for host in config.nagios.hosts %}
define service {
  use                     generic-service
  host_name               {{ host.name }}
  service_description     PING
  check_command           check_ping!100.0,20%!500.0,60%
  contact_groups          admins
}
{% if host.check_ssh | default(false) %}
define service {
  use                     generic-service
  host_name               {{ host.name }}
  service_description     SSH
  check_command           check_ssh
  contact_groups          admins
}
{% endif %}
{% endfor %}

{% set host_map = dict(config.nagios.hosts | map(attribute='address') | list
  | zip(config.nagios.hosts | map(attribute='name') | list)) %}
{% for svc in config.validation.service_ports | default([]) %}
define service {
  use                     generic-service
  host_name               {{ host_map.get(svc.host, 'proxmox') }}
  service_description     TCP {{ svc.name | replace('-', ' ') }}:{{ svc.port }}
  check_command           check_tcp_port!{{ svc.host }}!{{ svc.port }}
  contact_groups          admins
}
{% endfor %}

{% for check in config.nagios.dns_checks | default([]) %}
define service {
  use                     generic-service
  host_name               {{ check.host | default('adguard') }}
  service_description     DNS {{ check.domain }}
  check_command           check_dns_adguard!{{ check.server }}!{{ check.domain }}
  contact_groups          admins
}
{% endfor %}

{% for rewrite in config.adguard.rewrites | default([]) %}
define service {
  use                     generic-service
  host_name               adguard
  service_description     DNS {{ rewrite.domain }}
  check_command           check_dns_adguard!{{ config.services.lxcs['adguard'].ip }}!{{ rewrite.domain }}
  contact_groups          admins
}
{% endfor %}

{% set npm_hosts = config.npm.proxy_hosts
  + ((config.npm.external_proxy_hosts | default([])) if (config.npm.external_enabled | default(false)) else []) %}
{% for host in npm_hosts if host.monitor_http | default(true) %}
define service {
  use                     generic-service
  host_name               nginx-proxy-manager
  service_description     HTTP {{ host.domain }}
  check_command           check_http_npm!{{ host.domain }}!{{ config.services.lxcs['nginx-proxy-manager'].ip }}
  contact_groups          admins
}
{% endfor %}

{% for check in config.nagios.http_domain_checks | default([]) %}
define service {
  use                     generic-service
  host_name               {{ check.host | default('nagios') }}
  service_description     HTTP Domain {{ check.domain }}
  check_command           check_http_npm_path!{{ check.domain }}!{{ check.target_ip | default(check.domain) }}!{{ check.path | default('/') }}
  contact_groups          admins
}
{% endfor %}

{% for check in config.nagios.raffle_raptor_checks | default([]) %}
define service {
  use                     generic-service
  host_name               {{ check.host | default('nagios') }}
  service_description     RaffleRaptor Healthz {{ check.name }}
  check_command           check_raffle_raptor_healthz!{{ check.base_url }}!{{ check.target_ip | default('') }}
  contact_groups          admins
}

define service {
  use                     generic-service
  host_name               {{ check.host | default('nagios') }}
  service_description     RaffleRaptor Statusz {{ check.name }}
  check_command           check_raffle_raptor_statusz!{{ check.base_url }}!{{ check.target_ip | default('') }}
  contact_groups          admins
}
{% endfor %}
