ScriptAlias /nagios/cgi-bin "/usr/local/nagios/sbin"

<Directory "/usr/local/nagios/sbin">
    Options ExecCGI
    AllowOverride None
    Require all granted
    SetEnv REMOTE_USER {{ config.nagios.admin_user }}
</Directory>

Alias /nagios "/usr/local/nagios/share"

<Directory "/usr/local/nagios/share">
    Options None
    AllowOverride None
    Require all granted
    SetEnv REMOTE_USER {{ config.nagios.admin_user }}
</Directory>
