AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
AUTHENTIK_POSTGRESQL__HOST=postgresql
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_postgres_password }}
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_BOOTSTRAP_EMAIL={{ config.authentik.admin_email }}
AUTHENTIK_BOOTSTRAP_USERNAME={{ config.authentik.admin_user }}
AUTHENTIK_BOOTSTRAP_PASSWORD={{ authentik_admin_password }}
